@charset "utf-8";
/*banner Standard case*/
	
	.swiper-slide .standardTitle{
	font-family: 'Abadi MT Condensed', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 40px; 
	line-height:40px;
	color:#0169b2;
	margin-left:40px;
	margin-top:30px;
	position:absolute;
	}
	
/*banner white color to improve on dark background*/
	
	.swiper-slide .whiteTitle{
	font-family: 'Abadi MT Condensed', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 40px; 
	line-height:40px;
	color:#FFF;
	margin-left:40px;
	margin-top:30px;
	position:absolute;
	}
	
	.swiper-slide a#whiteTitle {
	border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    margin-top: 20px;
    padding: 5px 20px;
    position: absolute;
	}
	
	.swiper-slide a#whiteTitle:hover {
		border: 1px solid #6ccee6;
		color:#6ccee6;
	}