html{
  /* height: 100%; DO NOT CHANGE THIS */ 
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .freeze{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  .noscroll{
    overflow-y: hidden;
  }
}
@media screen\0{
  .freeze{
    position: relative;
  }
}
@media (max-width: 767px) {
  .freeze, .noscroll{
    height: 100vh;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
  }
}
body {
  height: 100%;
  font-family: "Lato";
  background-color: #DAD8D4!important;
  background-image: url('/static/icons/m2u_logo_white.png');
  background-repeat: no-repeat;
  background-position: 30px 27px;
}
@media (max-width: 767px) {
  body {
    background-image: url('/static/icons/tigerhead_logo_white.png');
    background-size: 36px;
    background-position: 31px 13px;
  }
}
html,body{
  padding-right: 0!important;
  padding-left: 0!important;
}
/* #root,div[role="dialog"],#mainNav{
  min-width: 327px;
}  */
.btn{ 
  border-radius: 0.7rem;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #ffffff;
}
p {
  font-size: 1.4rem;
  line-height: 1.75;
}
p.large {
  font-size: 1.6rem;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #FFC83D;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
  font-weight: bold;
}
.img-centered {
  margin: 0 auto;
}

.btn-primary {
  color: #ffffff;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Lato";
  text-transform: uppercase;
  font-weight: 700;
}
body {
  webkit-tap-highlight-color: #fed136;
}
input{
  font-size: 1.6rem!important;
}
input:focus,button:focus{
    outline-color: #FFC83D;
}
#root {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

